<form {{action "updateCrisis" on="submit"}}>
<div class="modal-header">
    <button type="button" class="close" {{action close}}>&times;</button>
    <h2>{{title}}</h2>
</div>

<div class="modal-body" style="max-height: 610px;">
    {{#with error}}
        {{#if hasErrors}}
            <div class="alert alert-error">
                {{errorMessage}}
            </div>
        {{/if}}
     {{/with}}

    <div class="control-group disabled">
        <div class="row-fluid">
            <div class="span6">
                {{input value=title placeholder="Your crisis title" class="percentWidth90"}}
                {{view App.CitiesAutoCompleteFieldView placeHolder="City" geoDataBinding=geoData valueBinding=city }}
                {{input value=country placeHolder="Country" disabled="disabled" class="percentWidth90"}}
                <button type="button" class="btn btn-info pull-right" {{action "clearMapPolygon"}}>Clear Map</button>
            </div>
            <div class="span6">
                {{view App.MapPolygonCreateView markersBinding=markers latBinding=lat lngBinding=lng class="height250"}}
            </div>
       </div>

       <div class="spacingBottom"></div>
       
       <div class="row-fluid">
           <div class="span12">
                {{view App.RichHTMLView descrBinding=descr placeholder="Verification request description" class="textareaStyle"}}
           </div>
       </div>
    </div>
</div>
<div class="modal-footer">
    {{input class="btn btn-primary" type="submit" value="Update Crisis"}}
</div>
</form>