<form {{action "login" on="submit"}}>
<div class="modal-header">
    <button type="button" class="close" {{action "close"}}>&times;</button>
    <h3> Sign in </h3>
</div>

<div class="modal-body">
    {{#with error}}
        {{#if hasErrors}}
            <div class="alert alert-error">
                {{errorMessage}}
            </div>
        {{/if}}
     {{/with}}

    <div class="control-group">
        <div class="controls">
            {{input value=email placeholder="Username" class="input-xlarge"}}
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            {{input value=password type="password" placeholder="Password" class="input-xlarge"}}
        </div>
    </div>

</div>

<div class="modal-footer">
    {{input class="btn btn-primary" type="submit" value="Log in"}}
</div>

</form>
