<div class="popover fade right in" style="top: 12.5px; left: 242px; height:200px;width:200px; display: block;">
	<div class="arrow"></div>
	<h3 class="popover-title">{{view.prevVote}}</h3>

	<div class="btn-group btn-group-vertical" data-toggle="buttons-radio">
	<!-- The UserActionController will handle the action -->
     <button data-toggle="button" class="btn btn-small"{{action setSeverity 1}}>1</button>
     <button data-toggle="button" class="btn btn-small"{{action setSeverity 2}}>2</button>
     <button data-toggle="button" class="btn btn-small"{{action setSeverity 3}}>3</button>
     <button data-toggle="button" class="btn btn-small"{{action setSeverity 4}}>4</button>
     <button data-toggle="button" class="btn btn-small"{{action setSeverity 5}}>5</button>
	</div>

	
</div>